<h2>Bars</h2>

{{#if session.isAuthenticated}}
  {{link-to 'Add a bar' 'bars.bar' 'new'}}
{{/if}}


<div style="position: relative; height: 400px;">
  {{#leaflet-map
    bounds          = bounds
    scrollWheelZoom = false
    onClick         = (action 'closeAllPopups')
  }}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

    {{#each existingBars as |bar|}}
      {{#marker-layer location  = (array bar.lat bar.lng)}}
        {{#popup-layer popupOpen = bar.popupOpen}}
          <h3>{{bar.name}}</h3>
          <p>{{bar.address}}</p>
          <p>{{bar.description}}</p>

          {{#if session.isAuthenticated}}
            <p>
              {{link-to 'Edit' 'bars.bar' bar.id}}
              <a href {{action 'remove' bar}}>Delete</a>
            </p>
          {{/if}}
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/leaflet-map}}
</div>

<div>
  {{#each existingBars as |bar|}}
    <p>
      <a
        href
        {{action 'centerMap' bar}}
      >
        {{bar.name}}
      </a>

      <span>
        {{bar.address}}
      </span>

      {{#if session.isAuthenticated}}
        {{link-to 'edit' 'bars.bar' bar.id}}
        <a href {{action 'remove' bar}}>×</a>
      {{/if}}
    </p>
  {{/each}}
</div>
